.news {
    display        : flex;
    flex-direction : row;
    align-content  : center;
    justify-content: space-between;
    
    .content {
        padding         : 15px 25px;
        width           : 50vw;
        background-color: $gray;
        color           : $white;
    }

    .image {
        background-image   : url('https://upload.wikimedia.org/wikipedia/commons/1/18/React_Native_Logo.png');
        background-size    : contain;
        background-position: center;
        background-repeat  : no-repeat;
        background-position: center;
        background-color   : #222;
        width              : 50vw;
    }
}