.socials {
    color           : $gray + 20;
    background-color: $gray - 20;
    height          : 90px;
    .fab {
        font-size: 2rem;
    }
    .social-name {
        font-weight: bold;
        font-size  : 1.2rem;
        margin     : 0 5px;
    }
    .social {
        padding      : 10px;
        cursor       : pointer;
        border-bottom: 2px solid $gray - 20;
        transition   : 300ms ease-in-out;
        &:hover {
            color    : $gray + 40;
            transform: translateY(-2px);
        }
    }
}