// Resources
@import 'node_modules/bootstrap/scss/bootstrap';
// Components
@import '_variables.scss';
@import '_fonts.scss';
@import '_animations.scss';

@import '_general.scss';
@import '_cover.scss';
@import '_socials.scss';
@import '_footer.scss';

a {
    color: $yellow;
    &:hover {
        color          : $yellow + 20;
        text-decoration: none;
    }
}

#seo {
    display: none;
}