.cover {
    position: relative;
    .cover-header {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    
        flex-direction: row;
        background-color: $gray;
        color: $yellow;
        font-weight: bold;
        .title {
            padding: 0 25px;
            font-family: $font-family-main, sans-serif;
            h1 {
                text-transform: lowercase;
                font-size: 42px;
            }
            p {
                color: $font-color-light;
            }
        }
        #logo {
            font-size: 12rem;
        }
    }
    
    .down-icon {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        bottom: 0;
        display: none;
        margin: auto;
        animation: bounce 2s infinite;
    }
}

.blinker {
    animation: blinker 750ms ease-in-out infinite;
}