@include media-breakpoint-up(sm) {
    .cover-header {
        justify-content: center;
        align-items: center;
        flex-direction: row !important;
        text-align: left !important;
        // @TODO: fix both "!important"
    }
}
.cover {
    .cover-header {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: $gray;
        color: $yellow;
        font-weight: bold;
        .title {
            padding: 0 25px;
            font-family: $font-family-main, sans-serif;
            font-weight: $font-weight-thin;
            h1 {
                font-weight: $font-weight-thin;
                text-transform: lowercase;
                font-size: 42px;
            }
            p {
                color: $font-color-light;
            }
        }
        #logo {
            font-size: $logo-size;
        }
    }
    
    .down-icon {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        color: $white;
        position: absolute;
        bottom: 0;
        display: none;
        margin: auto;
        margin-bottom: 10px;
        animation: bounce 2s infinite;
    }
}