/*
* Fonts
*/
$font-color-dark: #414141;
$font-family-main: 'Tajawal';
$font-weight-thin: 100;
$font-color-light: white;

/*
* Cover related
*/
$cover-bg-one: #FEC601;
$cover-bg-two: #FF0054;

/*
* Social colors
*/
$facebook-color: #3b5998;
$github-color: #212121;

/*
* Standard
*/
$border-radius-hard: 5px;